@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;1,9..40,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-links {
    @apply relative font-semibold cursor-pointer text-[17px] w-fit md:block 
    text-white hidden tracking-wider;
  }
  .nav-links::after {
    content: "";
    background-color: #fbbf24;
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.3s;
  }
  .nav-links:hover::after {
    transform: scaleX(1);
  }
  .nav-links-mobile {
    @apply relative mb-[2rem] font-semibold text-white cursor-pointer text-[27px] w-fit
    md:block after:block;
  }
  .nav-links-mobile::after {
    content: "";
    background-color: #fbbf24;
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.3s;
  }
  .nav-links-mobile:hover::after {
    transform: scaleX(1);
  }
}
